@media (min-width: 500px) {
  /* line 2, ../../compass/sass/styles.scss */
  nav {
    height: 80px;
  }
  /* line 4, ../../compass/sass/styles.scss */
  nav img {
    height: 60px;
  }
  /* line 5, ../../compass/sass/styles.scss */
  nav input {
    margin-top: 10px;
  }
}
@media (max-width: 499px) {
  /* line 11, ../../compass/sass/styles.scss */
  nav img {
    height: 20px;
  }
}
/* main content */
/* line 17, ../../compass/sass/styles.scss */
.section {
  height: 350px;
}

/* line 19, ../../compass/sass/styles.scss */
#one {
  background-image: url("../images/coffee.jpg");
  background-position: 75% 75%;
  background-repeat: no-repeat;
}

/* line 25, ../../compass/sass/styles.scss */
.section-small {
  height: 45px;
  background-color: #edebe6;
}
/* line 28, ../../compass/sass/styles.scss */
.section-small h3 {
  color: #005b24;
  position: relative;
  top: -10px;
}

/* line 35, ../../compass/sass/styles.scss */
#two {
  color: #fff;
  background-image: url("../images/bags.jpg");
  background-position: 25% 25%;
  background-repeat: no-repeat;
}

/* line 42, ../../compass/sass/styles.scss */
#three {
  background-color: #edebe6;
  background-image: url("../images/grower.jpg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

/* line 49, ../../compass/sass/styles.scss */
#four {
  color: #fff;
  background-color: #000;
  background-image: url("../images/steaming.jpg");
  background-position: 75% 0%;
  background-repeat: no-repeat;
}

/* line 57, ../../compass/sass/styles.scss */
.section-med {
  height: 200px;
  background-color: #edebe6;
}
/* line 60, ../../compass/sass/styles.scss */
.section-med button {
  margin: 10px 0;
}

/* line 63, ../../compass/sass/styles.scss */
footer {
  background-color: #bfbfbf;
  padding: 10px 0;
}

/* registration page */
/* line 71, ../../compass/sass/styles.scss */
.failure-msg {
  color: red;
}

/* line 74, ../../compass/sass/styles.scss */
#registration-form button {
  margin-bottom: 10px;
}
